/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Verdana', sans-serif;
	background: #FFFAFA;/*雪色*/
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Impact', cursive;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}

body a:hover{
    color: #FFC0CB;/*粉色*/
	text-decoration:none;
}

/*--news gallery--*/
.gallery{
    list-style: none;
    margin: 50px auto; padding: 0;
    width: 642px; /* (200+10+4)x3 */
    font-size: 0; /* fix inline-block spacing */
}

.gallery li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 200px; height: 150px;
    margin: 2px;
    border: 5px solid #fff;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;        
}

    .gallery:hover li:not(:hover){       
    -webkit-filter: blur(2px) grayscale(1);
    -moz-filter: blur(2px) grayscale(1);
    -o-filter: blur(2px) grayscale(1);
    -ms-filter: blur(2px) grayscale(1);
    filter: blur(2px) grayscale(1);
    opacity: .7; /* fallback */        
}



/*--baner--*/
.banner {
	background: #FFFAFA;
}
.banner-info{
	background: #FFFAFA;
	padding: 4em 0;
}
.header-left img {
    width: 90%;
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 4em;
    color: #6495ED; /*蓝色*/
    margin: 1em 0 0;
}
.header-right h2 {
    font-size: 1.2em;
    color: #000;
    background: #FFC0CB;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.header-right h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #FFC0CB transparent transparent transparent;
}
.header-right h6 {
    font-size: 1.2em;
    color: #FFC0CB;
    margin-top: 0.8em;
    letter-spacing: 6px;
}
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    font-size: 1.2em;
    color: #444;
    margin-top: 1em;
	font-weight: 100;
}
ul.address li ul.address-text li:nth-child(1){
	width: 100%;
}
ul.address li ul.address-text li a {
    color: #444;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
    color: #FFC0CB;
}
/*--//banner-top--*/
/*--top-nav--*/
.top-nav {
    background: #6495ED;
}
.nav > li {
    display: inline-block;
}
ul.nav.navbar {
    margin: 0;
    text-align: center;
}
ul.nav.navbar li a {
    color: #444;
    padding: 1em 2em;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
}
ul.nav.navbar li a:hover,ul.nav.navbar li a.active,ul.nav.navbar li a:focus{
    background: #444;
    color: #6495ED;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
    transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
}
/*--//top-nav--*/
.news,.about,.work,.banner,.education,.skills,.portfolio,.contact{
	padding:6em 0;
}
h3.title {
    font-size: 4em;
    text-align: center;
    color: #6495ED;
    border-bottom: 4px double #FFB6C1;
    padding-bottom: 0.2em;
	margin-bottom: 1em;
}
p {
    font-size: 1em;
    color: #444;
    line-height: 1.8em;
}
/*--//welcome--*/
.welcome {
    background:url(../images/a3.jpg)no-repeat center 0px;
    width:100%;
    -webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    position: relative;
}
.welcome ul {
    background-color:rgba(230,230,255,0.5);
    border: 3px double #fff;
    padding: 5em 5em;
    margin:150px;
    margin-top:150px
    width:100%;
}
.welcome p{
    font-size:16px;
    color:#444;
    line-height:27px;
    width:100%;
    margin:0px;
    margin-top:20px;
}
/*--//welcome--*/
/*--//news--*/
.news {
    background: #FFFAFA;
}
.news p{
    text-align:left;
    font-size:16px;
    color:#444;
    width:85%;
    margin-left: 5em;
    margin-top:20px;
}
/*--//news--*/

/*--work--*/
.work {
    background: #FFFAFA;
}
.work-left {
    text-align: right;
    padding: 2em 24em 0 0;
    /*border-right: 1px solid #999;/*/
}
.work-right {
    padding: 2.5em 0 2em 6em;
}
.work-box {
    border-left: 1px solid #999;/*//////////*/
    padding: 2.5em 0 2em 6em;
    margin: 150px;
}
.work-info h4 {
    font-size: 1.2em;
    background: #6495ED;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
	position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
	/*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #6495ED;
}
.work-info h5 {
    font-size: 1.3em;
    color: #FFB6C1;
    margin-bottom: .5em;
    display: inline-block;
    padding: 1em 1.25em;
}
.work-info p {
    display: inline-block;
    margin-right: 5em;
    margin-left: 26em;
    padding: 0em 0em;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #fff;
    background: #6495ED;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
/* 小图标*/
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -25em;
}
.work-right p{

}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.5em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/*-- agileits --*/
    transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #FFB6C1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
/*--//work--*/

/*--skills--*/
.skills{
	background:#FFFAFA;
}
.bar-grids {
    padding: 0 4em;
}
.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: #FFF0F5;
}
.progress-bar { 
    background-color: #FFC0CB;t;
}
.bar-grids h6 {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 0.6em;
}
.bar-grids h6 span {
    float: right;
    font-size: 0.9em;
}
/*--//skills--*/

/*--SAP--*/
ul.resp-tabs-list {  
/*-- w3layouts --*/
background: #FFE4E1;
}
.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    margin: 0 auto 3em;
    text-align: center;
}
.resp-tab-item {
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0.8em 2em;
    font-weight: 400;
	position:relative;
}
.resp-tab-item:hover{
    color: #6495ED;
}
.resp-tab-active,.resp-tab-active:hover{
    text-shadow: none;
    color: #fff;
    background: #6495ED;
}
.resp-tab-active:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -7px;
    left: 41%;
	/*-- agileits --*/
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #6495ED transparent transparent transparent;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
/*--//SAP--*/

/*--img-hover--*/
.portfolio-grids {
    margin-top: 2em;
}
.grid {
	position: relative;
	overflow: hidden;
	background: #000;
}
.grid img {
	opacity: 0.8;
}
.grid .figcaption {
    padding: 2em 2.5em;
    color: #FFE4E1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid .figcaption::before,
.grid .figcaption::after {
	pointer-events: none;
}

.grid .figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

.grid img {
	max-width: none;
	width: 100%;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	-moz-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-o-transform: translate3d(-10px,0,0);
	-ms-transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid:hover img {
	-moz-opacity: 0.5;
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);	
}
.grid .figcaption {
	text-align: left;
}
.grid h3 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
	-moz-opacity: 0;
    opacity: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
}
.grid h3 span {
    font-weight: 800;
    margin-left: 5px;
}
.grid h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	-moz-transition: transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	-ms-transform: translate3d(-100%,0,0);
}
.grid:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}
.grid:hover h3 {
	-moz-opacity:1;
	opacity:1;
}
.grid p {
    padding: 1em 0 0;
	-moz-opacity:1;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
    color: #fff;
    letter-spacing: 2px;
}
.grid:hover p {
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}
/*--//portfolio--*/
/*--contact--*/
.address-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    right: -17px;
}

.contact2{
    background: #333;
    -webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    position: relative;
}

.contact2 p{
    text-align:center;
    font-size:16px;
    color:#fff;
    width:85%;
    margin-left: 5em;
    margin-top:20px;
}

.contact{
    background:url(../images/b3.jpg)no-repeat center 0px;
    -webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    position: relative;
}
.contact ul {
    background-color:rgba(230,230,255,0.3);
    border: 3px double #fff;
    padding: 1em 1em;
    margin:200px;
    margin-top:20px
}
.contact p{
    text-align:center;
    font-size:16px;
    color:#ddd;
    line-height:27px;
    width:100%;
    margin:0px;
    margin-top:20px;
}
/*--contact--*/
/*--footer--*/
.footer {
    padding: 2em 0;
    text-align: center;
    background: #1F1F1F;
}
.footer p {
    color: #fff;
	font-size: 1.1em;
}
.footer p a{
    color: #F7E612;
}
.footer p a:hover{
    color: #fff;
}
/*--//footer--*/
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
	z-index:999;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/








/* responsive effect */
@media (max-width: 767){}

.welcome, .news, .work, .banner-info, .contact2,.welcome {
    padding: 4em 0;
}

h3.title {
    font-size: 3.6em;
    margin-bottom: 0.8em;
}

.navbar-toggle {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.3em;
    color: #fff;
}
.nav > li {
    display: block;
}
ul.nav.navbar li a {
    padding: 0.8em 1.5em;
    font-size: 1.1em;
}
}

.banner-info {
    padding: 3.5em 0;
}
.header-left {
    float: left;
    width: 40%;
}
.header-right {
    padding-left: 2em;
    float: right;
    width: 60%;
    padding-right: 0;
}
.header-right h2 {
    font-size: 1em;
}
.header-right h1 {
    font-size: 2em;
}
.header-right h6 {
    font-size: 0.9em;
    margin-top: 0.6em;
    letter-spacing: 5px;
}
ul.address li ul.address-text li {
    font-size: 1.1em;
}



